body {background-color: darkgray;}

body * { 
    
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
}

#container {
    width: 360px;
    margin: 50px auto 0px;
}

/* minha foto  */
#profile img {
    width: 112px;
}

#profile p {
    font-weight: 500;
    line-height: 24px;
    margin-top: 8px;
}


/* links */
ul {
    list-style: none;
}

ul li a{
    border: 1px solid red;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 52px;
}